html, body, #root {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    background-color: black;
}
  
.main-wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    width: 40%;
    height: 100vh;
}
  
.first-page {
    margin: 20px;
    text-align: left;
}
  
a {
    color: blue;
    text-decoration: underline;
}
  
a:hover {
    text-decoration: underline;
}

p {
    line-height: 1.6;
    font-size: 20px;
    font-family: Segoe UI;
}

.first-page-imgages {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    margin-top: 20px;
}

.first-page-imgages img {
    width: 30%;
    height: auto;
    object-fit: cover;
    border-radius: 8px;
}
.first-page .cat{
    text-align: center;
    width: 100%;
    margin-top: 30px;
    font-style: italic;
    color: black;
}