.project-section {
    padding: 20px 40px;
    margin-top: 250px; 
  }
  
.project-section h2 {
    font-size: 30px;
    margin: 0 0 100px 80px;
    font-weight: 600;
    color: white;
    line-height: 1.1;
}
  
  .projects-container {
    padding: 20px;
  }
  
  .project-card {
    display: flex;
    align-items: center;
  }
  
  .project-section ol {
    display: flex;
    flex-direction: column;
    gap: 70px; 
  }
  
  .project-image img {
    width: 70%; 
    height: auto;
    transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
    position: relative; 
    will-change: transform;
    filter: grayscale(100%) contrast(200%);
    margin-left: 200px; 
    padding-bottom: 50px;
  }
  
  .project-image:hover img {
    transform: scale(1.2); 
    filter: grayscale(0%) contrast(100%);
  }

.project-info {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0,0,0,0.3); 
    transform: translateY(-50%); 
    border-radius: 8px;
    width: 40%; 
    color: black;
    min-height: 220px;
    min-width: 360px;
    position: relative;
    top: 200px;
    right: 80px;
}
  
.project-info h4 {
    color: #008080;
}
  
.project-info h3, .project-info p, .project-info a {
    margin-bottom: 20px;
}
  
.project-info a {
    color: #992d48;
}
  
.project-info p {
    font-size: 18px;
    font-family: TT Commons, HelveticaNeueLTStd-Roman, Helvetica, Arial, sans-serif; ;
}

.project-info .cwd-description li{
    margin-bottom: 10px; 
}
  